{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" name=ReturnArtistsForm>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">All Artist Tracks</legend>
                <h2> Select your Artists</h2>
                <div class="container">
                    {% for artist in artists %}
                        <input type="checkbox" name='selections' value={{ artist.id }}>
                        <label> {{ artist.name }} </label>
                        <br>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
