{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/made_elaborate" name=ShowElaborateForm>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Tracks</legend>
                <h2> The Following Tracks will be in the list, enter a playlist name and click 'confirm' to add playlist to your spotify account</h2>
            </fieldset>
        </form>
    </div>
{% endblock content %}
