{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" name=ShowTracksForm>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Tracks</legend>
                <div class="container">
                <h5> The Following Tracks will be in the list, enter a playlist name and click 'confirm' to add playlist to your spotify account</h5>
                </div>
                <br />
                <div class="container">
                    <label>
                        <input type='text' name='playlist_name'>
                    </label>
                    {{ form.submit(class="btn btn-outline-info") }}
                  <br>
                  <hr>
                  {% for track in tracks %}
                    {{track.artist}} - {{track.name}}
                    <br>
                  {% endfor %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
